.nf-form-wrap {
    position: relative;

    .nf-error-msg {
        color: $primary;
    }

    .nf-error-required-error {
        display: none;
    }

    .nf-before-form-content {
        display: none;
    }

    .nf-form-content {
        max-width: 100%;
        padding: 0;
    }

    .nf-form-content .list-select-wrap>div div:after {
        display: none;
    }

    .nf-pass.field-wrap .nf-field-element:after,
    .nf-error.field-wrap .nf-field-element:after {
        display: none;
    }

    .nf-pass .ninja-forms-field,
    .nf-error .ninja-forms-field {
        border-color: $primary !important;
    }

    nf-fields-wrap {
        display: block;
        flex-direction: row;
        flex-wrap: wrap;

        .nf-field-container {
            margin-bottom: 8px;

            @include md {
                margin-bottom: 24px;
            }

            input:not([type="button"]),
            textarea {
                background-color: color-yiq($primary);
                border: 1px solid $primary;
                border-radius: 0;
                color: $primary;
                height: auto;
                padding: 16px;
                transition: $transition-base;
                width: 100%;
                -moz-appearance: none;
                -webkit-appearance: none;

                &:focus {
                    box-shadow: 0px 0px 0px 4px rgba($primary, .5);
                    outline: none;

                    &::placeholder {
                        opacity: .5;
                    }
                }

                &::placeholder {
                    color: $primary;
                    transition: $transition-base;
                }
            }

            textarea {
                height: 128px;
            }
        }

        .list-wrap .nf-field-element {
            position: relative;

            >div {
                display: none;
            }

            &:after {
                color: $secondary;
                content: '\f078';
                font-family: 'Font Awesome 5 Pro';
                font-weight: bold;
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 5;
            }

            select {
                background-color: color-yiq($primary);
                border: 1px solid $primary;
                border-radius: 0;
                color: $primary;
                height: auto !important;
                padding: 16px;
                transition: $transition-base;
                width: 100%;
                -moz-appearance: none;
                -webkit-appearance: none;

                &:focus {
                    box-shadow: 0px 0px 0px 4px rgba($primary, .5);
                    outline: none;
                }
            }
        }

        .textarea-container {
            margin-bottom: 0;

            @include md {
                margin-bottom: 16px;
            }
        }

        .submit-container {
            margin-bottom: 0;
            text-align: right;

            input {
                background-color: $primary;
                border-radius: 100vh;
                color: color-yiq($primary);
                display: inline-block;
                height: auto;
                max-width: 100%;
                min-width: 128px;
                padding: 16px;
                text-align: center;
                transition: $transition-base;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: $primary;
                    box-shadow: 0px 0px 0px 4px rgba($primary, .5);
                    color: color-yiq($primary);
                }
            }
        }

        @include lg {
            display: flex;

            nf-field {
                flex: 100%;

                &:nth-child(-n+4) {
                    flex: 50%;

                    &:nth-child(odd) {
                        padding-right: 12px;
                    }

                    &:nth-child(even) {
                        padding-left: 12px;
                    }
                }
            }
        }
    }
}