$error: #bbb;
$primary: #000;
$secondary: #fff;
$accent: #8EC358;
$accentDark: #63992C;
$footer: #F4F4F4;
$footerText: #6B6B6B;

$inputBorder: #979797;

//fonts
$headerFont: 'Karla', sans-serif;
$bodyFont: 'Crimson Text', serif;
