@import 'variables';
@import 'fonts';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/aos/src/sass/aos.scss';
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/light.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/brands.scss';
@import 'mixins';

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: absolute;
  transition: transform 1000ms ease-in-out;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Mono";

  &.no-scroll {
    overflow: hidden;
  }

  > main {
    flex: 1 1 auto;
  }
}

::selection {
  background-color: rgba(lighten($primary, 20%), 0.75);
  color: $white;
}

.fixed {
  position: fixed;
}

p:empty {
  display: none;
}

.slick-list,
.slick-slide,
.slick-track {
  backface-visibility: hidden;
  perspective: 2000px;
}

.footer, footer {
  background-color: #4380A0;
  padding: 15px 0;
}

.footer li {
  color: #194D67;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Mono";
  font-size: 16px;
  font-weight: 300;
  line-height: 33px;
}

footer ul {
  padding: 0;
}

.footer-nav-title {
  font-size: 16px;
  font-family: "Roboto Mono" !important;
  font-weight: 300;
  line-height: 33px;
  margin-bottom: 0px;
}

.footer a {
  color: #194D67;
}

.footer-address {
  padding-top: 20px;
  color: #fff;
  opacity: 0.4;
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 16px;
}

hr {
  border-top: 1px solid #D8D8D8;
  width: 100%;
  opacity: 0.5;
  text-align: center;
}

.social-media-container {
  opacity: 0.4;
  padding-top: 20px;
  text-align: right;
}

.sm-link {
  color: #fff !important;
}

.column-four {
  border: 1px solid black;
}