@import 'variables';
@import 'fonts';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/aos/src/sass/aos.scss';
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/light.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/brands.scss';
@import 'mixins';

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: absolute;
  transition: transform 1000ms ease-in-out;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.no-scroll {
    overflow: hidden;
  }

  > main {
    flex: 1 1 auto;
  }
}

::selection {
  background-color: rgba(lighten($primary, 20%), 0.75);
  color: $white;
}

.fixed {
  position: fixed;
}

p:empty {
  display: none;
}

p {
  color: $secondary;
}

.slick-list,
.slick-slide,
.slick-track {
  backface-visibility: hidden;
  perspective: 2000px;
}

.footer, footer {
  background-color: $secondary;
  padding: 15px 0;
}